<!---start-content---->
<div class="content" onclick="closeNav()">
	<div class="main-banner">
		<h3>Get-Fit-Eat</h3>
		<h4>Everything that keeps you on fitness track</h4>
	</div>
	<div class="wrap">
	 	<div id="main" role="main">
	      <ul id="tiles">
	        <!-- These are our grid blocks -->
	        <li *ngFor = "let recipe of recipes">
				<app-item-tile [mealId] = "recipe.id" [name] = "recipe.mealName" [image] = "recipe.image" [topic] = "recipe.topic"></app-item-tile>
	        </li>
	        <!-- End of grid blocks -->
	      </ul>
		</div>
		<div class="extra-div"><span class="btn-load-more" (click)="loadMore()">LOAD MORE</span></div>
	</div>
</div>
<!---//End-content---->