<div class="nutrition-facts-panel">
  <div class="nutrition-facts-main-title">Nutrition Facts</div>
  <div class="nutrition-facts-sub-title"><label>Serving Size (g)</label> <span class="nutrition-value">{{nutritionFacts.servingSize}}</span></div>
  <div class="nutrition-facts-sub-title"><label>Servings Per Container</label> <span class="nutrition-value">{{nutritionFacts.servingPerContainer}}</span></div>
  <hr class="h-thicker-line"> 
  <div class="main-title"><label>Amount Per Serving</label><span></span>  <span class="nutrition-value"></span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Calories</label><span>{{nutritionFacts.calories}}</span> <span class="nutrition-value">Calories from Fat {{nutritionFacts.caloriesFromFat}}</span></div>
  <hr class="h-thick-line"> 
  <div class="main-title"><span class="nutrition-value">% Daily Value*</span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Total Fat</label><span>{{nutritionFacts.totalFat}}g</span> <span class="nutrition-value">{{nutritionFacts.totalFatPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="sub-title"><label>Saturated Fat</label><span>{{nutritionFacts.saturatedFat}}g</span> <span class="nutrition-value">{{nutritionFacts.saturatedFatPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="sub-title"><label>Trans Fat</label><span>{{nutritionFacts.transFat}}g</span> <span class="nutrition-value">{{nutritionFacts.transFatPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Cholesterol</label><span>{{nutritionFacts.cholesterol}}mg</span> <span class="nutrition-value">{{nutritionFacts.cholesterolPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Sodium</label><span>{{nutritionFacts.sodium}}mg</span> <span class="nutrition-value">{{nutritionFacts.sodiumPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Total Carbohydrates</label><span>{{nutritionFacts.totalCarbohydrates}}g</span> <span class="nutrition-value">{{nutritionFacts.totalCarbohydratesPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="sub-title"><label>Dietary Fiber</label><span>{{nutritionFacts.dietaryFiber}}g</span> <span class="nutrition-value">{{nutritionFacts.dietaryFiberPercent}}%</span></div>
  <hr class="h-thin-line"> 
  <div class="sub-title"><label>Sugars</label><span>{{nutritionFacts.sugars}}g</span> <span class="nutrition-value"></span></div>
  <hr class="h-thin-line"> 
  <div class="main-title"><label>Protein</label><span>{{nutritionFacts.protein}}g</span> <span class="nutrition-value">{{nutritionFacts.proteinPercent}}%</span></div>
  <hr class="h-thick-line"> 
  <div class="vitamin-minerals"><div class="left-value">Vitamin A {{nutritionFacts.vitaminAPercent}}%</div> <div class="right-value">Vitamin C {{nutritionFacts.vitaminCPercent}}%</div></div>
  <hr class="h-thin-line"> 
  <div class="vitamin-minerals"><label class="left-value">Calcium {{nutritionFacts.calciumPercent}}%</label> <label class="right-value">Iron {{nutritionFacts.ironPercent}}%</label></div>
  <hr class="h-thin-line"/> 
  <div class="last-note">
    <p>*Percent Daily Values are based on a 2,000 calorie diet. 
      Your daily values may be higher or lower depending on your calorie needs.
    </p>
  </div>

</div>