.blog-container {
    margin: 60px auto;
    width: 98%;
} 

.blog-panel {
    padding: 20px 30px;
    float: left;
    width: 60%;
    color: #444;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
}

.blog-side-panel {
    padding: 20px;
    float: left;
    width: 30%;
    background-color: cornsilk;
}

.blog-title {
    font-size: 2.1em;
    line-height: 120%;
}

.auther-details {
    padding: 10px 0 10px 0;
    font-size: 1.1em;
    float: left;
    width: 100%;
    line-height: 130%;
}

.blog-date {
    float: left;
    width: 100%;
}

.blog-auther {
    float: left;
    width: 100%;
    font-weight: bold;
    color: #028fb3;
}

.blog-image {
    width: 100%;
}

.blog-image img {
    width: 100%;
}

.blog-content {
    font-size: 1.4em;
}

/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:1024px) and (min-width:240px) {
	.blog-panel {
		width:100%;
	}
	.blog-side-panel {
		width: 100%;
    }
}