<div class="blog-container">
    <div class="blog-panel">
        <div class="blog-title">{{blog.title}}</div>
        <div class="auther-details">
            <label class="blog-date">{{formatDate(blog.createdOn)}}</label>
            <label class="blog-author">By, {{blog.author}}</label>
        </div>
        <div class="blog-image"><img src="assets/images/{{blog.image}}" /></div>
        <div class="blog-content" [innerHTML]="blog.content"></div>
    </div>
    <div class="blog-side-panel">
        <a href="#"><img src="assets/images/ads.jpg"/></a>
    </div>
</div>

