/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 55px; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    #padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	border-right: 1px solid #eee;
	font: 400 14px/22px  'Open Sans', sans-serif;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #555;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav ul {
	list-style: none;
}

.sidenav ul  li {
	font-size: 0.9em;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    font-weight:bold;
    margin-left: 30px;
}


.profile-title {
	width: 100%;
	height: 100px;
	margin: 30px 0 0 0;
}

.profile-img {
	float: left;
	width: 90px;
}

.profile-img img {
	border: 1px solid #aaa;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-left: 15px;
	#cursor: pointer;
}

.profile-info {
	width: 130px;
	float: left;
	text-transform: uppercase;
}

.profile-info div {
	padding-left: 5px;
	padding-top: 10px;
	color: rgb(18, 82, 107);
  	font-size: 12px;
  	text-decoration: none;
  	font-weight: bold;
  	#cursor: pointer;
}





/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}